*{
  margin: 0px;
  padding: 0px;
}

@font-face {
    font-family: 'concert-one';
    src: url("assets/concert-one.ttf")
}


/* sectioning */

body {
    background-color: #E6CCB2;
    font-family: 'concert-one';
}

.container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box {
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: #B08968;
    border-radius: 10px;
    z-index: -1;
}

.content {
    max-width: 80%;
}

.cat-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


#first-page {
    opacity: 1;
}

#second-page {
    opacity: 0;
    transition: opacity 2s ease-in;
    transition: opactiy 2s ease-out;
}

#second-page .container, #sixth-page .container {
    text-align: center;
}

#third-page {
    opacity: 0;
    transition: opacity 2s ease-in;
    transition: opacity 2s ease-out;
}

#fourth-page {
    opacity: 0;
    transition: opacity 2s ease-in;
    transition: opacity 2s ease-out;
}

#fifth-page {
    opacity: 0;
    transition: opacity 2s ease-in;
    transition: opacity 2s ease-out;
}

#sixth-page {
    opacity: 0;
    transition: opacity 2s ease-in;
    transition: opacity 2s ease-out;
}


/* 

#first-page {
    z-index: 1;

    
    display: grid;
    place-items: center;
    height: 100vh;
    
} 

#second-page {
    opacity: 0;
    transition: opacity 2s ease-in;
    transition: opacity 2s ease-out;
    
    display: grid;
    place-items: center;
    height: 100vh;
    padding: 10px; 
}

#third-page {
    opacity: 0;
    transition: opacity 2s ease-in;
    transition: opacity 2s ease-out;

    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#fourth-page {
    opacity: 0;
    transition: opacity 2s ease-in;
    transition: opacity 2s ease-out;


    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#fifth-page {
    opacity: 0;
    transition: opacity 2s ease-in;
    transition: opacity 2s ease-out;
    

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#sixth-page {
    opacity: 0;
    transition: opacity 2s ease-in;
    transition: opacity 2s ease-out;

    display: grid;
    place-items: center;
    height: 100vh;

} 
    */


.left {
    padding: 10px;
}

.right {
    padding: 10px;
}

/* text */

h1 {
    padding: 5px;
    color: #533826;
    font-size: 35px;
}

h2 {
    padding: 5px;
    color: #6a4831;
    font-size: 30px;
}

p {
    padding: 5px;
    color: #6a4831;
    font-size: 20px;
}

/* images */

.content .cat-content img {
    max-width: 85%;
}

/* buttons */

#begin-button {
    text-align: center;
    padding: 20px 26px;
}

button {
    padding: 20px 26px;
    margin: 5px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(83, 56, 38, 0.2);
    background-color: #9C6644;
    color: #3e2a1c;
    font-family: 'concert-one';
}


/* other */



@media (max-width: 1250px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }
    p {
        font-size: 15px;
    }
}


